In [7]:
import numpy as np
import pandas as pd

In [5]:
sound_data = np.random.rand(100)

In [6]:
sound_data

array([0.66709183, 0.55973494, 0.95416669, 0.60810949, 0.05188879,
       0.58619063, 0.25555136, 0.72451477, 0.2646681 , 0.08694215,
       0.75592186, 0.67261696, 0.62847452, 0.06232598, 0.20549438,
       0.11718457, 0.25184725, 0.48625729, 0.8103058 , 0.18100915,
       0.81113341, 0.62055231, 0.9046905 , 0.56664205, 0.73235338,
       0.74382869, 0.64856368, 0.80644398, 0.46199345, 0.78516632,
       0.91298397, 0.48290914, 0.20847714, 0.99162659, 0.26374781,
       0.3602381 , 0.07173351, 0.8584085 , 0.32248766, 0.39167573,
       0.67944923, 0.00930429, 0.21714217, 0.58810089, 0.17668711,
       0.57444803, 0.25760187, 0.43785728, 0.39119371, 0.68268063,
       0.95954499, 0.45934239, 0.03616905, 0.23896063, 0.61872801,
       0.76332531, 0.96272817, 0.57169277, 0.50225193, 0.01361629,
       0.15357459, 0.8057233 , 0.0642748 , 0.95013941, 0.38712684,
       0.97231498, 0.20261775, 0.74184693, 0.26629893, 0.84672705,
       0.67662718, 0.96055977, 0.64942314, 0.66487937, 0.86867536,
       0.40815661, 0.1139344 , 0.95638066, 0.87436447, 0.18407227,
       0.64457074, 0.19233097, 0.24012179, 0.90399279, 0.39093908,
       0.26389161, 0.97537645, 0.14209784, 0.75261696, 0.10078122,
       0.87468408, 0.77990102, 0.92983283, 0.45841805, 0.61470669,
       0.87939755, 0.09266009, 0.41177209, 0.46973971, 0.43152144])

In [ ]:
synonyms = {
    'hot': ['blazing', 'boiling', 'heated'],
    'airplane': ['aircraft', 'airliner', 
                 'cab', 'jet', 'plane'],
    'beach': ['coast', 'shore', 'waterfront'],
    # ...
}

In [8]:
import pandas as pd

# Create the data manually
data = {
    "first_name": ["John", "Jane", "Alice", "Bob", "Emma"],
    "last_name": ["Doe", "Smith", "Johnson", "Brown", "Davis"],
    "phone_nr": ["555-1234", "555-5678", "555-8765", "555-4321", "555-7890"],
    "address": ["123 Maple St", "456 Oak St", "789 Pine St", "321 Birch St", "654 Elm St"],
    "ZIP": ["12345", "67890", "54321", "09876", "11223"],
    "city": ["Springfield", "Rivertown", "Lakeside", "Hilltop", "Greendale"]
}

# Create a DataFrame
phone_book = pd.DataFrame(data)

In [9]:

phone_book

  first_name last_name  phone_nr       address    ZIP         city
0       John       Doe  555-1234  123 Maple St  12345  Springfield
1       Jane     Smith  555-5678    456 Oak St  67890    Rivertown
2      Alice   Johnson  555-8765   789 Pine St  54321     Lakeside
3        Bob     Brown  555-4321  321 Birch St  09876      Hilltop
4       Emma     Davis  555-7890    654 Elm St  11223    Greendale